

 body {
    background: url(backgroundPics/kisses.jpg) no-repeat;
	background-repeat: no-repeat;
	background-size: 900px;
	background-position: 230px 75px;
	font-family: 'PT Serif', serif;
	text-align: center;
	
}

.drinks {
	background: url() no-repeat;
	background-repeat: no-repeat;
	background-size: 600px;
	font-size: 20px;
}

.layouts {
	font-size: 15px;
}

.new_sessions {
	font-weight: bold;
	font-size: 20px;
	text-align: left;

}

.new_users {
    font-weight: bold;
	font-size: 20px;
	text-align: left;	
}

.new_drink {
	font-weight: bold;
	font-size: 35px;
	text-align: left;	
}

.title {
	font-weight: bold;
	font-family: 'Orbitron', sans-serif;
	text-align: left;
}

.title_text {
	text-align: left;
}

.base {
	font-weight: bold;
	font-family: 'Orbitron', sans-serif;
	text-align: left;
}

.base_text {
	text-align: left;
}

.ingredients {
	font-weight: bold;
	font-family: 'Orbitron', sans-serif;
	text-align: left;

}

.ingredients_text {
	text-align: left;
}

.directions {
	font-weight: bold;
	font-family: 'Orbitron', sans-serif;
	text-align: left;
}

.directions_text {
	text-align: left;
	font-family: 'Comfortaa', Normal;
}