/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
*= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


.edit {
	text-align: left;
}


.signIn {
	background: url(image-path('backgroundPics/code.png')) no-repeat center center fixed;
	background-size: cover;
}


.new {
	background: url(image-path('backgroundPics/code.png')) no-repeat center center fixed;
	background-size: cover;
}

h1 { font-size: 35pt; 
	 font-family: 'Old Standard TT', serif;
	 font-weight: bold;
}


.new_drink {
	font-size: 28px;
	text-align: left;
	margin-top: 100px;
	font-family: 'tahoma';
}

#create_drink {
	padding-top: 10px;
	font-family: 'tahoma';
	font-style: bold;
	font-size: 28px;

}

.created {
	font-family: 'tahoma';
	color: black;
	font-size: 30px;
	width: 600px;
	background-color: #A2FF34;
	outline: 1px;
	border-radius: 10px;
	opacity: 0.7;
	margin: 0 auto;
	margin-top: 200px;
	text-align: center;
}

#box {
	font-size: 28px;
}

.liquor_library {
    opacity: 0.7;
	font-size: 20px;
	width: 600px;
	// padding-top: 0.2px;
	text-align: center;
	outline: 1px;
	border-radius: 10px; 
	background-color: #A2FF34;
	font-family: 'tahoma';
	background-position: center;
	float: none;
    margin: 0 auto;
    color: black;
}


 body {
    background: url(image-path('backgroundPics/kisses.jpg')) no-repeat center center fixed;
    background-size: cover;
  	background-size: 900px;
	background-position: 230px 100px;
	font-family: tahoma;
	text-align: center;
	padding: 15px;
	color: black;
	
}

label {
	display: inline-block;
	width: 115px;
}


// .show_drink {
// 	background-size: 600px;
// 	font-size: 20px;
// 	text-align: center;
// 	width: 220px;

// }

.layouts {
	font-size: 15px;
}

.new_sessions {
	font-weight: bold;
	font-size: 20px;
	float: left;


}

.new_users {
    font-weight: bold;
	font-size: 20px;
	text-align: left;	
}

.title {
	font-weight: bold;
	text-align: center;
	color: center;
}

.title_text {
	text-align: center;
}

.base {
	font-weight: bold;
	text-align: center;
}

.base_text {
	text-align: center;
}

.ingredients {
	font-weight: bold;
	text-align: center;

}

.ingredients_text {
	text-align: center;
	font-family: 'tahoma', tahoma;
	
}

.directions {
	font-weight: bold;
	font-family: 'tahoma', tahoma;
	text-align: center;
	
}

.directions_text {
	text-align: center;
	font-family: 'tahoma';
}