 body {
 	
    background: url(backgroundPics/kisses.jpg) no-repeat center center fixed;
    background-size: cover;
  	background-size: 900px;
	background-position: 230px 100px;
	font-family: 'PT Serif', serif;
	text-align: center;
	
}